{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true,
    "jquery": true
  },
  "plugins": [
    "react",
    "import",
    "jsx-a11y",
    "react-hooks"
  ],
  "globals": {
    "__DEVELOPMENT__": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "arrow-parens": ["error", "always"],
    "arrow-body-style": [2, "as-needed"],
    "comma-dangle": [2, "always-multiline"],
    "import/imports-first": 0,
    "import/newline-after-import": 2,
    "import/no-dynamic-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 2,
    "jsx-a11y/aria-props": 2,
    "jsx-a11y/heading-has-content": 2,
    "jsx-a11y/label-has-for": [
      2,
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "jsx-a11y/mouse-events-have-key-events": 2,
    "jsx-a11y/role-has-required-aria-props": 2,
    "jsx-a11y/role-supports-aria-props": 2,
    "max-len": 2,
    "newline-per-chained-call": 0,
    "no-confusing-arrow": 0,
    "no-console": 1,
    "no-use-before-define": 0,
    "prefer-template": 2,
    "class-methods-use-this": 2,
    "require-yield": 0,
    "import/no-webpack-loader-syntax": 0,
    "semi": [2, "always"],
    "react/boolean-prop-naming": 2,
    "react/destructuring-assignment": 2,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-first-prop-new-line": [2, "multiline"],
    "react/jsx-no-target-blank": 0,
    "react/jsx-sort-props": [
      1,
      {
        "callbacksLast": true,
        "shorthandFirst": false,
        "shorthandLast": true,
        "ignoreCase": true,
        "noSortAlphabetically": false
      }
    ],
    "react/no-unused-prop-types": 2,
    "react/no-unused-state": 2,
    "react/prefer-stateless-function": 2,
    "react/prop-types": 2,
    "react/require-extension": 0,
    "react/self-closing-comp": 0,
    "react/jsx-props-no-spreading": 0,
    "react/sort-prop-types": [
      1,
      {
        "callbacksLast": true,
        "ignoreCase": true,
        "requiredFirst": false,
        "sortShapeProp": true
      }
    ]
  }
}
